
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改类别信息</title>
    <script src="~/lib/layui/layui.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div class="layui-col-md8">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>正在添加类目</legend>
        </fieldset>
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">类别编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="CategoryId" lay-verify="required" placeholder="请输入类别名编号(以G开头后接数字,如:G1001)" class="layui-input">
                </div>
                <label class="layui-form-label">类别名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="CategoryName" lay-verify="required|maxLength" placeholder="请输入类别名称" class="layui-input" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="CurrentPrice" lay-verify="required" placeholder="请输入价格（数字）" class="layui-input">
                </div>
                <label class="layui-form-label">单位</label>
                <div class="layui-input-inline">
                    <input type="text" name="Unit" lay-verify="required" value="斤" class="layui-input" readonly>
                </div>
            </div>

            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="subAdd">确认修改</button>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            form.verify({
                maxLength: function (value) {
                    if (value.length > 16) {
                        return '不能超过16个字符'
                    }
                },
            });

            form.on('submit(subAdd)', function (data) {
                debugger;
                layer.confirm('确认添加？', function (index) {
                    $.ajax({
                        url: "/CategoryManage/AddCategory",
                        type: "post",
                        data: {
                            categoryInput: data.field
                        },
                        success: function (res) {
                            layer.alert(res);
                            setTimeout(function () {
                                //休眠1秒后页面跳转
                                //  window.location.href = "/User/AddIndex";
                                //关闭当前弹框
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            }, 2000);
                        }
                    })
                });
                

                return false;
            })
        })
    </script>
</body>
</html>