
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>申请撤销订单</title>
    <script src="~/lib/layui/layui.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>正在申请撤销 <span id="OrderID"></span>订单 </legend>
    </fieldset>
    <div class="layui-col-md8">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">物品名</label>
                <div class="layui-input-inline">
                    <input type="text" id="Name" lay-verify="required" placeholder="请输入物品名" readonly class="layui-input">
                    <input type="hidden" name="Oid" id="oid" value="" />
                </div>
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <select name="CategoryId" id="Category">
                        <option value="" disabled>---请选择---</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input type="text" id="Num" lay-verify="required" placeholder="请输入数量" readonly class="layui-input">
                </div>
                <label class="layui-form-label">单位</label>
                <div class="layui-input-inline">
                    <select id="Unit">
                        <option value="" disabled>---请选择---</option>
                        <option value="千克" disabled>千克</option>
                        <option value="吨" disabled>吨</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">请输入理由</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="Reason" lay-verify="required" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="text-align:center">
                <button class="layui-btn" lay-submit="" lay-filter="SureApply">确认申请撤销</button>
            </div>
        </form>
    </div>
    <script>
        $.ajax({
            url: "/CategoryManage/GetCategories",
            type: "post",
            async: false,
            success: function (res) {
                var str = "";
                $.each(res, function (index, i) {
                    str += "<option value='" + i.categoryId + "'disabled>";
                    str += i.categoryName;
                    str += "</option>";
                })
                $("#Category").append(str);
            }
        });
        $.ajax({
            url: "/OrderManage/GetOrderInfoByOID",
            type: "post",
            async: false,
            success: function (res) {
                $("#OrderID").text(res.oid),
                $("#oid").val(res.oid),
                $("#Name").val(res.name),
                    $("#Category").val(res.categoryId),
                    $("#Num").val(res.num),
                    $("#Unit").val(res.unit)
            }
        })
        layui.use(['form'], function () {
            var form = layui.form;
            form.verify({
                maxLength: function (value) {
                    if (value.length > 16) {
                        return '不能超过16个字符'
                    }
                },
            });
            form.on('submit(SureApply)', function (data) {
                $.ajax({
                    url: "/OrderManage/WithdrewMyApplicationBySpecial",
                    type: "post",
                    data: {
                        demandOrderInput: data.field
                    },
                    success: function (res) {
                        layer.alert(res);
                    }
                })
                return false;
            });
        })
    </script>
</body>
</html>
