@{
    ViewData["Title"] = "登入";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div class="form-group">
                    <label>账号</label>
                    <input class="form-control" name="UserID" />
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input class="form-control" type="password" name="Password" />
                </div>
                <div class="form-group">
                    <label>验证码</label>
                    <input id="captchaCode" name="VerifyCode" type="text" class="form-control code" placeholder="验证码" maxlength="3">
                    <a href="javascript:void(0);" title="点击更换验证码">
                        <img id="imgCaptchaCode" src='@Url.Content("~/Account/GetCaptchaImage")' height="34" />
                    </a>
                </div>
                @*<div class="form-group" id="divVali">
                        <div id="vali">

                        </div>
                        <input type="text" name="code" />
                        看不清？<a href="javascript:;" data="/Account/ValidationImagePage">点这里</a>
                    </div>*@
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">登入</button>
                    <span style="color:red">@ViewBag.LoginError</span>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-action="ForgetPassword">忘记了密码？</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    $(function () {
       $("#imgCaptchaCode").click(function () {
            $(this).attr("src", '@Url.Content("~/Account/GetCaptchaImage")' + '?t=' + new Date().getTime());
        });
    })
</script>